{% extends 'navbar.html' %}

{% block title %}
Nuestro local
{% endblock title %}

{% block content %}

<div id="descripcion" class="container">
    <h1>Nuestro local </h1>
    <h5>Av Almirante Latorre 713, Santiago</h5>
    <h5>+56225541718</h5>

    <div id="descripcion" class="container">
        <h3> Horario: </h3>
    	<h4>Abierto de lunes a sabado desde las 10:00 a 22:00 horas</h4>
    </div>
    <div id="descripcion" class="container">
        <h3> Precios: </h3>
        <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
        	<tr> 
        		<th>De 10:00 a 16:00 hras</th>
        		<th>De 16:00 a 20:00 hras</th>
        		<th>De 20:00 a 22:00 hras</th>
        	</tr>
        	<tr>
        		<th>$7000</th>                     	        
        		<th>$9000</th>
        		<th>$12000</th>
        </table>
    </div>



</div>
{% endblock content %}