{% extends 'navbar.html' %}
{% block title %}
Regístrate
{% endblock title %}

{% block content %}
<div id="descripcion" class="container">
    <h1>Formulario de registro:</h1>

    <form action="/envio2/" method="POST" autocomplete="off">  {% csrf_token %}

    <div class="form-group">
      <label for="exampleInputEmail1">Nombre Completo</label>
      <input type="text" class="form-control" id="exampleText2" placeholder="Ingrese nombre" name="inputText2">
    </div>

    <div class="form-group">
      <label for="exampleNumber">RUT</label>
      <input type="number" class="form-control" id="exampleNumber2" placeholder="Ingrese RUT sin puntos ni guión" name="inputNumber2">
    </div>
    
    <div class="form-group">
      <label for="exampleNumber">Telefono de contacto</label>
      <input type="number" class="form-control" id="exampleNumber3" placeholder="Ingrese telefono" name="inputNumber3">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Correo electronico</label>
      <input type="email" class="form-control" id="exampleEmail2" placeholder="Ingrese email" name="inputEmail2">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input type="password" class="form-control" id="examplePassword" placeholder="ingrese contraseña" name="inputPassword">
    </div>


    

    <div class="form-group">
    <button type="submit" class="btn btn-primary">Regístrarse</button>
    </div>

    
    </form>
</div>
{% endblock content %}

